{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Your Order</h3>
        <hr>
        <div class="row">
            <h5> Your Total </h5>
            <p>${{ total_cost }} </p>
            <form action="/home" method="post" id="login_form">
                <div class="form-group" id="info_form_group">
                    <label for="username">Card Number</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="0123-4567-8901">
                </div>
                <div class="form-group" id="info_form_group">
                    <label for=" password">Experation Date</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="mm/dd">
                </div>
                <div class="form-group" id="info_form_group">
                    <label for=" password">CVV</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="000">
                </div>
                <div class="form-group" id="info_form_group">
                    <label for=" password">Address</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Place Address Here">
                </div>
                <button type="submit" class="btn btn-primary" id="login_button">Pay with Credit Card</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}