{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Your Order</h3>
        <hr>
        <div class="row">
            <h5> Your Total </h5>
            <p>${{ total_cost }} </p>
            <form action="/checkout" method="post">
                <form action="/home" method="post" id="login_form">
                    <div class="form-group" id="info_form_group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group" id="info_form_group">
                        <label for=" password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary" id="login_button">Login</button>
                </form>
                <div class="row">
                    <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="checkout_button">Pay with Credit Card</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}